{% extends "_base.html" %}
{% block title %}Find a job{% endblock %}
{% block content %}
    <div class="container">
        <div class="d-flex flex-column align-items-center">
            <div class="my-3">
                <h1>For all job seekers</h1>
            </div>
            <div class="col-md-10">
                <form class="d-flex" method="get" action="{% url 'all_vacancies' %}">
                    <div class="col-md-9 me-5">
                        <input class="form-control" type="text" name="position-name"
                               placeholder="What job do you want?">
                    </div>
                    <div class="d-grid col-md-2">
                        <button class="btn btn-primary " type="submit">Find</button>
                    </div>
                </form>
                {% include "_inc/job_board_info/_vacancies_job_seekers_info.html" %}
            </div>
        </div>
    </div>
{% endblock %}
