{% extends "_base.html" %}
{% block title %}Publish vacancies. Find employees{% endblock %}
{% block content %}
    <div class="container">
        <div>
            <div class="my-3">
                <h1 class="text-center">For all employers</h1>
            </div>
            <div>
                <div class="col-md text-center">
                    {% if user.Types.EMPLOYER and user.employee_profile.has_company %}
                        <a class="btn btn-primary col-md-5" href="{% url 'create_vacancy' %}" role="button">Publish
                            vacancy</a>
                    {% else %}
                        <a class="btn btn-primary col-md-5" href="{% url 'create_company' %}">Create your company
                            account</a>
                    {% endif %}
                </div>
                {% include "_inc/job_board_info/_vacancies_job_seekers_info.html" %}
            </div>
        </div>
    </div>
{% endblock %}
