{% extends "_base.html" %}
{% block content %}
    <h1>All employees of {{ company.name }}</h1>
    <div>
        {{ employees }}
        {% for employee_profile in employees %}
            <a href="{{ employee_profile.user.get_absolute_url }}">
                <h4>{{ employee_profile.user }}</h4>
            </a>
            <p>{{ employee_profile.position }}</p>
            <form action="{% url 'fire_employee' company.pk employee_profile.user.pk %}" method="post">
                {% csrf_token %}
                <button type="submit">Fire</button>
            </form>
        {% endfor %}
    </div>
{% endblock %}
