{% load static %}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% if user.account_type == user.Types.EMPLOYER %}
                    {% url 'employer_home' %}
                {% else %}
                    {% url 'home' %}
                {% endif %}">Jobbly</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% if user.is_authenticated %}
                    {% if user.account_type == user.Types.EMPLOYER %}
                        {% include "_inc/navbars/_employer_navbar.html" %}
                    {% else %}
                        {% include '_inc/navbars/_jobseeker_navbar.html' %}
                    {% endif %}
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ link }}">{{ link_redirect_name }}</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                {% if not user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Login</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'register_jobseeker' %}">Register</a></li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'me' %}">
                            {% if user.avatar %}
                                <img style="width: 3em;" class="rounded-circle"
                                     src="{{ user.avatar.url }}" alt="avatar">
                            {% else %}
                                <img style="width: 3em;" class="rounded-circle"
                                     src="{% static 'images/blank_profile_avatar.jpg' %}" alt="avatar">
                            {% endif %}

                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
