<div>
    {% if responses_on_vacancies %}
        {% for response in responses_on_vacancies %}
            <h4>{{ response.vacancy.name }}</h4>
            <a href="{{ response.vacancy.company.get_absolute_url }}">
                <small>{{ response.vacancy.company.name }}</small>
            </a>
            <p>{{ response.status.capitalize }}</p>
        {% endfor %}
    {% endif %}
    {% if not user.jobseeker_profile.cv %}
        <form action="#" method="post">
            {% csrf_token %}
            <label for="cv-input">Upload your CV</label>
            <input id="cv-input" type="file">
            <input type="submit">
        </form>
    {% endif %}
</div>
