{% extends "_base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}My Profile{% endblock %}</title>
</head>
<body>
{% block content %}<h1>{{ object.username }}</h1>
    <p>{{ object.account_type.capitalize }}</p>
    {% if user_profile.account_type == user.Types.EMPLOYER %}
        {% include "_inc/profiles_info/_employer_account.html" %}
    {% else %}
        {% include "_inc/profiles_info/_jobseeker_account.html" %}
    {% endif %}

{% endblock %}
</body>
</html>
